/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

body { 
	padding: 0px; 
	margin: 0px;
	text-align: center
} 


table, td{
	font: normal 12px auto "宋体", Verdana, Arial, Helvetica, sans-serif; 
}
table{width:100%;border-collapse:collapse;margin:0px;}
th, td{text-align:center;padding:0px;border:1px solid #fff;}
th{background:#fff url(menu/menu_bg.gif) repeat-x;color:#fff;font-size: 15px;height:25px;}
td{background:#fff;}



#doc {
	margin: 0px;
	padding: 0px;
}

.fixTh .tc {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: left;

}